name: Yarn install

on:
  workflow_call:

permissions:
  contents: read

jobs:
  setup:
    name: Yarn install & cache
    runs-on: buildjet-4vcpu-ubuntu-2204
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/dangerous-git-checkout
      - uses: ./.github/actions/bun-install
      - uses: ./.github/actions/bun-playwright-install
