name: Lint
on:
  workflow_call:
permissions:
  actions: write
  contents: read
jobs:
  lint:
    runs-on: buildjet-4vcpu-ubuntu-2204

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/dangerous-git-checkout
      - uses: ./.github/actions/bun-install
      - name: Run Lint
        run: bun run lint
        continue-on-error: true
